

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    background-color: rgba(255, 255, 255, 1); 
    
    border-bottom: 1px solid rgba(231, 238, 246, 1);
    height: 60px;
    vertical-align: middle;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: sticky; 
    top: 0; 
    z-index: 1000;
}


  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  

.navbar_logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgba(53, 99, 233, 1) !important;;
}

.navbar_links {
    list-style-type: none;
    display: flex;
    gap: 15px; 
    align-items: center;
}

.navbar_links li {
    font-size: 1rem;
}


.navbar_links a:hover {
    text-decoration: underline;
}

.navbar_links button {
    background-color: #3563E9; 
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar_links button:hover {
    background-color: #2f54eb; 
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(144, 163, 191, 0.2) ;
    border-radius: 25px;
    padding: 0 10px; 
    width: 492px;
    height: 44px;
    box-sizing: border-box;
  }
  
  .search-input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 24px;
    height: 100%;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
  }
  
  .search-img,
  .filter-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  
  .search-img:hover,
  .filter-img:hover {
    opacity: 0.7;
  }

.clear-button {
    position: absolute;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #3563E9;
}

.clear-button:hover {
    color: #2f54eb;
}

.logo {
    size: 30px;
    width:80px;
    height: 80px;
   
}

