.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0288d1;
    color: white;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); body {
    padding-top: 80px; 
}
}

.navbar_logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar_links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar_links li {
    font-size: 1rem;
}

.navbar_links a {
    color: white;
    text-decoration: none;
}

.navbar_links a:hover {
    text-decoration: underline;
}

.navbar_links button {
    background-color: #f44336;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar_links button:hover {
    background-color: #d32f2f;
}

body {
    padding-top: 40px; 
}